

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkd-Connection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<body class="bg-dark">

    <style>
        label {
            color: whitesmoke;
        } 

    
    </style>

    <div class="container">
        <h1 class="text-center mb-3">Sign Up</h1>
        <form action=" " method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-1">
                
                {% if not formFilter %}
                <div class="col-lg-4 col-md-6 ">
                    <label class="form-label"> Company Name <span class="text-danger">*</span> </label>
                    <input type="text" name="companyname" class="form-control up_form" placeholder="Company Name"
                         required>
                </div>
                
                <div class="col-lg-4 col-md-6 ">
                    <label class="form-label"> Company Size <span class="text-danger">*</span> </label>
                    <input type="number" name="companysize" class="form-control up_form" placeholder="Company Size"
                         required>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="form-label"> Head Quarters <span class="text-danger">*</span> </label>
                    <input type="text" name="headQ" class="form-control up_form" placeholder="Head Quarters"
                         required>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="form-label"> Company About <span class="text-danger">*</span> </label>
                    <input type="text" name="about" class="form-control up_form" placeholder="Company About"
                         required>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="form-label"> What Based ? <span class="text-danger">*</span> </label>
                    <input type="text" name="based" class="form-control up_form" placeholder="What Based ?"
                         required>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="form-label"> Our Products <span class="text-danger">*</span> </label>
                    <input type="text" name="products" class="form-control up_form" placeholder="Our Products"
                         required>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="form-label"> Official Website <span class="text-danger">*</span> </label>
                    <input type="text" name="website" class="form-control up_form" placeholder="Official Website"
                         required>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="form-label"> Company Type <span class="text-danger">*</span> </label>
                    <input type="text" name="companytype" class="form-control up_form" placeholder="Company Type"
                         required>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="form-label"> Company Logo <span class="text-danger">*</span> </label>
                    <input type="file" name="companylogo" class="form-control up_form" placeholder="Company Type"
                         >
                </div>
                {% endif %}

                {% if formFilter %}
                <div class="col">
                    <label class="form-label">First Name <span class="text-danger">*</span> </label>
                    <input type="text" name="firstName" class="form-control up_form" placeholder="First name"
                        aria-label="First name" required>
                </div>
                <div class="col">
                    <label class="form-label">Last Name <span class="text-danger">*</span></label>
                    <input type="text" name="lastName" class="form-control up_form" placeholder="Last name"
                        aria-label="Last name" required>
                </div>
                {% endif %}
            </div>
            <div class="row mb-1">
                <div class="col">
                    <label class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" name="email" class="form-control up_form" placeholder="Email"
                        aria-label="Email" required>
                </div>
                <div class="col">
                    <label class="form-label">Password <span class="text-danger">*</span></label>
                    <input type="text" name="password" class="form-control up_form" placeholder="Password"
                        aria-label="Phone">
                </div>
            </div>
            <div class="row mb-1">
                {% if formFilter %}

                <div class="col">
                    <label class="form-label">College Name <span class="text-danger">*</span></label>
                    <input type="text" name="collegename" class="form-control up_form" placeholder="Collge Name"
                        aria-label="Subject" required>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">
                    <label class="form-label">Qualification <span class="text-danger">*</span></label>
                    <input type="text" name="qualification" class="form-control up_form" placeholder="Qualification"
                        aria-label="Message" required/>
                </div>
                {% endif %}

                <div class="col">
                    <label class="form-label">Phone <span class="text-danger">*</span></label>
                    <input type="text" name="phone" class="form-control up_form" placeholder="Phone"
                        aria-label="Message" required/>
                </div>

                <span class="text-light">I have an Already Account <span><a style="text-decoration: none;" class="text-primary" href="/signin/''">click here</a></span></span>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Sign Up</button>
        </form>
    </div>

    <script src="{% static 'js/signUpValidate.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
    </script>
</body>
</html>