<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkd-Connection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body class="bg-dark">
    <div class="container">
        <div class="box text-center shadow w-50 p-5" style="margin-top: 19%; margin-left: 24%;">
            <span class=" text-light"> Welcome to , <span class="text-info ms-4"> Linkd-Connection</span></span>
            <br/>  <br/> 
            <span class="text-warning ">Who are You ? </span>
            <br/>  <br/> 
            <div class="d-flex" style="margin-left: 20%;">
                <a href="signin/employee" class="btn btn-outline-info"> Employee</a>
                <span class="ms-5 me-5 text-light">(or)</span>
                <a href="signin/company" class="btn btn-outline-warning"> Company</a>

            </div>
        </div>
    </div>
</body>
</html>